   {{>header}}
        {{>banner}}
        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/css/about.css">


        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Thuy Linh</span><br> Writer</h1>

                    <a href="/contact" class="button">Liên hệ</a>
                </div>

                <div class="home__social">
                    <a href="https://www.facebook.com/vuthithuylinhami" class="home__social-icon"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/_leaf_leaves_/" class="home__social-icon"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://twitter.com/_leaf_leaves_?fbclid=IwAR13uz9US3NAeCerSb0fa8_t6P_YnBCqCvs_4wKQR_OxEHh30_HlGTL3Mf4" class="home__social-icon"><i class='bx bxl-twitter' ></i></a>
                </div>


            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">Giới thiệu</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="/img/linh2.jpeg" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">I'am Thuy Linh</h2>
                        <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum expedita quo culpa tempora, assumenda, quis fugiat ut voluptates soluta, aut earum nemo recusandae cumque perferendis! Recusandae alias accusamus atque.</p>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Kỹ năng</h2>

                <div class="skills__container bd-grid">
                    <div>
                        <h2 class="skills__subtitle">Kỹ năng</h2>
                        <p class="skills__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit optio id vero amet, alias architecto consectetur error eum eaque sit.</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">Tin học văn phòng</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">95%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">Tiếng anh</span>
                            </div>
                            <div class="skills__bar skills__css">

                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">Viết lách</span>
                            </div>
                            <div class="skills__bar skills__js">

                            </div>
                            <div>
                                <span class="skills__percentage">95%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">Làm việc nhóm</span>
                            </div>
                            <div class="skills__bar skills__ux">

                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img src="/img/work3.jpg" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Hình ảnh công việc của tôi</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="/img/work1.jpg" alt="">
                    </div>
                    <div class="work__img">
                        <img src="/img/work2.jpg" alt="">
                    </div>
                    <div class="work__img">
                        <img src="/img/work3.jpg" alt="">
                    </div>
                    <div class="work__img">
                        <img src="/img/work4.jpg" alt="">
                    </div>
                    <div class="work__img">
                        <img src="/img/work5.jpg" alt="">
                    </div>
                    <div class="work__img">
                        <img src="/img/work6.jpg" alt="">
                    </div>
                </div>
            </section>
        </main>

        {{>footer}}
        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="/js/main.js"></script>
